#low_menu2{
  position: relative;
  width: 100%;
  background-color: #E7E2E2;
  height: 320px ;
  font-family: 'Open Sans', sans-serif;
}

.logo2{
 position: absolute;
 left: 43%;
 text-align: center;
 top: 9%;
}
.nombresIntegrantes h6,
.nombresIntegrantes h5{
 color: black;
}

.nombresIntegrantes{
  text-align: center;
  position: absolute;
  left: 42.5%;
  top: 60%;
}
@media (max-width: 750px) {

}
@media (max-width: 450px) {

}
