@import url('https://cdn.jsdelivr.net/npm/typeface-inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,700&subset=latin-ext');
*{box-sizing: border-box;}
body {
  line-height: 1.5em;
  color: white;
  margin: 0 auto;
  background-color: black;
}

#movie-list3 li,
#movie-list2 li,
#movie-list1 li {
  position: relative;
  margin: 16px;
  padding: 0;
  width: 259.837px;
  height: 389.750px;
  border-radius: 4px;
  box-shadow: 0 8px 16px #1126;
  background: #111;
  overflow: hidden;
}

.info-serie-carrusel{
  position: relative;
  top: 28%;
  left: 7%;
  width: 40%;
}

.info-serie-carrusel h1{
  text-transform: uppercase;
  font-weight: bold;
}

.titles h2{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    position: relative;
}

.titles h2::before{
  content: '//';
  color: #EA0000;
  position: relative;
  left: -10px;
}
.titles h2::after{
content: '//';
color: #EA0000;
position: relative;
right: -10px;
}

=======

/* TABLET */
@media (max-width: 750px) and (min-width:){

}

/* MOBILE */
@media (max-width:450px)  {

}
