@import url('https://cdn.jsdelivr.net/npm/typeface-inter/inter.css');
*{box-sizing: border-box;}
body {
  line-height: 1.5em;
  color: white;
  margin: 0 auto;
  background-color: black;
}

#movie-list3 li,
#movie-list2 li,
#movie-list1 li {
  position: relative;
  margin: 16px;
  padding: 0;
  width: 199px;
  height: 285px;
  border-radius: 4px;
  box-shadow: 0 8px 16px #1126;
  background: #111;
  overflow: hidden;
}

#movie-list1 a::after,
#movie-list2 a::after,
#movie-list3 a::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 10%, #000 140%);
}

.info-serie-carrusel{
  position: relative;
  top: 28%;
  left: 7%;
  width: 40%;
}

.info-serie-carrusel h1{
  text-transform: uppercase;
  font-weight: bold;
}

.lista-series h2{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.lista-series a{
  top: 250px;
}

#carrusel a::after{
  background: linear-gradient(to bottom, transparent 10%, #000 140%);
}

/* TABLET */
@media (max-width: 750px) and (min-width:){

}

/* MOBILE */
@media (max-width:450px)  {

}
